* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 45rem;
    width: 100%;
}

.header {
    height: 50px;
    width: 100%;
    background: rgb(204, 202, 202);
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    position: fixed;
    /* position: -webkit-sticky; */



    .btn {
        margin-right: 50px;

        .btn--signup {
            margin-right: 30px;
            padding: 5px 10px;
            border-radius: 20px;
            border: none;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
            }
        }

        .gg--search {
            padding: 5px 10px;
            border-radius: 20px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

.main {

    .list--product {
        background: gray;
        padding: 75px 75px ;
        .product1 {
            margin: auto;
            padding-top: 20px;
            width: 33%;
            display: inline-block;

           
            .title {
                cursor: pointer;

                :hover {
                    color: red;
                }
            }
        }
    }
}

.sub--header {
    margin-left: 70px;
    list-style: none;
    display: flex;

    li {
        margin-right: 50px;

        :hover {
            color: white;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}


.wrapper {
    width: 100%;
    background: rgb(27, 27, 26);
    display: flex;
    color: white;
    line-height: 40px;

    .info {
        flex: 1;
    }

    .support {
        flex: 1;
    }

    .service {
        flex: 1;
    }

    .connect {
        flex: 1;

        .connect--internet {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;
        }

        li {
            list-style: none;
            margin-right: 20px;

            a {
                color: white;
            }
        }
    }
}