* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  height: 45rem;
  width: 100%;
  background: rgb(202, 20, 20);
}

.header {
  height: 50px;
  width: 100%;
  background: rgb(202, 20, 20);
}

h4 {
  color: greenyellow;
}